<!-- html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Pet</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
  <h1>Edit Pet</h1>
  <form th:action="@{/pets/edit/{id}(id=${pet.id})}" th:object="${pet}" method="post" class="form">
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" th:field="*{name}" class="form-control">
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message">Name Error</div>
    </div>

    <div class="form-group">
      <label for="kind" class="form-label">Kind</label>
      <select id="kind" th:field="*{kind}" class="form-control">

        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
        <option value="Rabbit">Rabbit</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label">Sex</label>
      <div class="form-check">
        <input type="radio" id="female" th:field="*{sex}" value="Female" class="form-check-input">
        <label for="female" class="form-check-label">Female</label>
      </div>
      <div class="form-check">
        <input type="radio" id="male" th:field="*{sex}" value="Male" class="form-check-input">
        <label for="male" class="form-check-label">Male</label>
      </div>
    </div>

    <div class="form-check">
      <input type="checkbox" id="isVaccinated" th:field="*{isVaccinated}" class="form-check-input">
      <label for="isVaccinated" class="form-check-label">Vaccinated</label>
    </div>

    <div class="form-group">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input type="text" id="imageUrl" th:field="*{imageUrl}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
</body>
</html>
